#footer {
  min-height: 25dvh;
}

.footer-bg {
  background-color: #000;
}

.footer-name {
  color: #515861;
  pointer-events: none;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.footer-btn {
  border-radius: 50%;
  padding: calc(0.5rem + 0.2vw);
}

.footer-btn .bi {
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
}

.footer-btn:hover .bi {
  color: #000;
  width: 100%;
  height: fit-content;
}

.bi {
  display: flex !important;
}

.footer-btn:hover#linkedin,
.footer-btn:hover#github,
.footer-btn:hover#email {
  background-color: #fff;
}

.footer-btn {
  border: 1px solid #fff;
}

/* .footer-btn#linkedin {
  background-color: #0082ca;
}

.footer-btn#github {
  background-color: #333333;
}

.footer-btn#email {
  background-color: #dd4b39;
} */
